In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
numerical = pd.read_csv('numerical.csv')
categorical = pd.read_csv('categorical.csv')
targets = pd.read_csv('target.csv')

In [4]:
numerical.shape

(95412, 323)

In [5]:
from sklearn.feature_selection import VarianceThreshold
sel = VarianceThreshold(threshold=(.9))
# This drops the columns that have a variance less than this threshold
sel = sel.fit(numerical)
temp = sel.transform(numerical)
temp = pd.DataFrame(temp)
print(numerical.shape)
print(temp.shape)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [5]:
# we dropped 10 columns

In [6]:
# To check which columns were removed, you can manipulate the results
# from the code below. This gives the variance of each feature in order
# of appearance of the dataset.
sel.variances_

array([9.09809748e+05, 2.08815897e+02, 2.88819327e+00, 7.32048900e+00,
       8.66174573e+01, 2.56592472e+01, 1.31572233e+02, 2.27939712e+02,
       3.13607695e+02, 1.92868188e+01, 2.62819398e+01, 1.72652418e+01,
       8.31170164e+00, 3.29841989e+07, 2.12604334e+06, 4.50749041e+06,
       2.24965472e+03, 9.74807925e+02, 1.60301299e+03, 3.09753487e+01,
       3.32736401e+01, 4.41578315e+02, 2.78578917e+02, 1.20360456e+01,
       4.99809732e+01, 1.90053487e+02, 4.61409700e-01, 4.98251426e+00,
       6.41978865e+00, 5.33237152e+00, 1.00706114e+00, 1.11115939e+00,
       1.36811691e+00, 1.28447653e+02, 1.67136727e+00, 1.02953264e+01,
       1.13250253e+01, 6.94817913e+01, 6.80563524e+01, 6.57568628e+01,
       5.27246856e+01, 4.84411762e+01, 4.73710296e+01, 5.64791144e+01,
       6.77692565e+01, 4.07109305e+01, 3.39562669e+01, 3.68229986e+01,
       6.06488198e+01, 3.85766793e+01, 1.86306173e+01, 1.71850636e+01,
       3.60457837e+01, 4.52079107e+01, 2.62231790e+01, 1.36647822e+01,
       2.89879175e+01, 2.08128652e+01, 3.18376752e+01, 1.71354621e+02,
       5.53754859e+01, 1.68061030e+02, 1.38522535e+02, 6.77733355e+01,
       2.11365762e+02, 1.22305015e+02, 4.07392872e+01, 1.43868290e+01,
       1.68161972e+02, 2.04612424e+01, 2.38895520e+01, 7.88954973e+01,
       2.50409629e+03, 2.49016549e+03, 6.23726075e+02, 6.94481074e+02,
       2.87859939e+01, 5.69028421e+02, 5.12814868e+02, 4.18515337e+02,
       3.48908444e+01, 1.81034652e+01, 1.57568800e+01, 8.86913700e+05,
       8.97528207e+05, 5.32652055e+00, 5.03723051e+00, 4.71626551e+02,
       4.36810594e+02, 1.67835698e+02, 9.92154078e+01, 4.40225143e+02,
       1.69911003e+02, 2.29118848e+02, 2.63714547e+02, 1.42597023e+02,
       1.98992943e+02, 1.44748434e+02, 2.80622899e+01, 1.26312901e+00,
       2.19313432e+01, 5.04601405e+01, 8.75328329e+01, 1.69956858e+01,
       4.70893666e+01, 2.10941532e+02, 1.51270760e+02, 2.06816328e+01,
       1.01466094e+02, 8.52403864e+00, 7.08779722e+02, 1.01744767e+03,
       1.34282109e+03, 1.35018529e+03, 8.75923156e+02, 3.26337026e+02,
       5.69335002e+01, 4.59622096e+02, 1.15237091e+02, 1.08466554e+02,
       6.55266165e+00, 1.39935709e+00, 1.63590936e+02, 2.92729531e+02,
       2.07455227e+02, 6.07680265e+01, 5.56473628e+01, 3.17122356e+02,
       9.13081328e+00, 1.03651649e+03, 1.22015081e+03, 1.08199559e+03,
       5.89310804e+02, 8.19051719e+06, 1.87480863e+04, 1.35216126e+04,
       2.65306859e+04, 3.01417228e+04, 2.60079783e+04, 2.94611202e+04,
       7.33352775e+07, 2.10555240e+02, 6.33515496e+01, 3.94183551e+01,
       5.53240955e+01, 9.38176773e+01, 3.40506149e+01, 1.11975348e+01,
       3.69842912e+00, 2.15362396e+01, 1.52302019e+02, 8.41036067e+01,
       5.83788799e+01, 7.17863097e+01, 1.13298082e+02, 4.44374412e+01,
       1.52660071e+01, 5.39035507e+00, 3.05949240e+01, 1.92232987e+02,
       3.86332067e+01, 2.90847715e+02, 9.93481937e+01, 2.55247006e+02,
       2.57426711e+02, 1.05166786e+02, 1.76613184e+02, 4.48595607e+01,
       3.12585860e+01, 2.09534397e+01, 4.83073540e+00, 5.39862673e-01,
       4.83731655e-01, 3.01704032e+01, 1.35998748e+01, 3.88832352e+01,
       3.63187552e+02, 4.58702917e+01, 4.39576323e+01, 2.85487576e+01,
       3.02805974e+02, 1.85001003e+02, 2.14427088e+02, 1.88837943e+02,
       2.24491468e+02, 1.88849079e+02, 2.68630631e+02, 2.98678674e+02,
       9.46669299e+02, 1.99993348e+03, 8.55527236e+01, 6.77564571e+01,
       5.09595936e+01, 6.58003389e+00, 3.06928942e+01, 3.29144827e+01,
       9.90029357e-01, 3.55425941e+00, 3.63309292e+01, 2.60791033e+01,
       3.43296086e+01, 3.45114509e+01, 1.03886482e+01, 8.88057011e+00,
       3.10329419e+01, 6.05671819e+00, 1.69937134e+01, 1.03368884e+02,
       1.02514011e+01, 5.45403687e+00, 9.59386017e+00, 3.81766613e+01,
       2.17206576e+01, 9.44998229e+00, 1.04151287e+01, 4.97726169e+00,
       2.02173898e+01, 2.87648983e+01, 1.89607655e+01, 1.66738921e+01,
       1.82113134e+01, 2.56528254e+01, 1.73215875e+01, 2.99397164e+01,
       1.51312157e+02, 1.89665599e+01, 1.07238619e+00, 3.14547369e+02,
       6.85354755e+01, 5.77965991e+01, 1.05244762e+02, 5.07413189e+01,
       1.15448902e+01, 9.46682895e+01, 4.98024662e+01, 1.46636797e+01,
       5.99994776e+01, 1.85617725e+00, 4.06086943e+01, 3.21283001e+01,
       1.00452459e+01, 2.40425260e+01, 1.13656118e+00, 2.77776233e+01,
       1.09740007e+02, 2.69085792e+00, 2.10076757e+02, 9.46544293e+01,
       2.90768213e+02, 1.14788505e+02, 5.26467240e+00, 1.82239326e+01,
       1.85118746e+00, 6.84420965e+01, 5.00560879e-01, 2.84182012e-01,
       1.10341000e+01, 6.26792705e+00, 4.57912305e+00, 8.30660363e+00,
       7.50543449e-01, 2.03448181e+00, 9.55261984e-01, 1.59668289e+00,
       1.50631971e-01, 9.30480449e+01, 4.74373398e+02, 2.76556769e+02,
       1.45049911e+02, 2.39183281e+01, 2.02834704e+01, 1.56808546e+02,
       3.53523530e+02, 1.17759810e+02, 1.59601864e+01, 1.57056765e+02,
       3.58937198e+01, 2.89158351e+02, 5.72263775e+02, 1.02641062e+03,
       1.00786260e+03, 9.76020601e+02, 5.91458806e+01, 1.16304322e+01,
       1.27059315e+03, 1.45642903e+02, 7.82487388e+02, 9.33942722e+01,
       2.43664212e-01, 1.08223831e+02, 8.10264790e+02, 7.13101890e+02,
       1.26599840e+03, 9.26599104e+01, 1.15339313e+02, 1.24676896e+01,
       7.51453665e-01, 8.23878569e+00, 1.05764658e+01, 7.36807495e+01,
       5.27632742e+02, 1.48786067e+00, 2.06480231e+01, 1.40611560e+04,
       7.31759918e+01, 2.04903508e+01, 7.71618983e+01, 6.28385285e+02,
       1.94785482e+02, 6.04824864e+01, 1.15991629e+02, 3.05635453e+09,
       2.49999618e-01, 1.15077849e+00, 3.51620199e+02])

In [14]:
#This gives you the result as True and False for the columns that we
# selected and those which were removed, respectively.
sel.variances_ > .9
#sel.get_support()
#var_list = list(sel.get_support())

In [15]:
[col[0] for col in zip(numerical.columns, var_list) if col[1] == False]

['ETH6',
 'TPE6',
 'TPE7',
 'ANC5',
 'ANC6',
 'ANC11',
 'ANC15',
 'HC15',
 'MHUC2',
 'HPHONE_D']

In [ ]:
# So these are the 10 columns we dropped
# if we also want to see the actual variances we can use this:

In [16]:
removed_columns = pd.DataFrame(data=(numerical.columns,sel.variances_,sel.get_support()), index=('column_name','variance','statement')).T
removed_columns.loc[(removed_columns['statement'] == False),:]

    column_name  variance statement
26         ETH6   0.46141     False
171        TPE6  0.539863     False
172        TPE7  0.483732     False
254        ANC5  0.500561     False
255        ANC6  0.284182     False
260       ANC11  0.750543     False
264       ANC15  0.150632     False
288        HC15  0.243664     False
296       MHUC2  0.751454     False
312    HPHONE_D      0.25     False

In [34]:
# In the activity we will do the opposite: look at which are the BEST columns to use

In [17]:
# Activity 1
#The datasets are provided in the files_for_activities folder.

#Let's start with implementing another algorithm for feature selection, 
#which is the Select K Best. We have provided a code to you that you can use directly. 
#Your task is to complete the parts missing in the code.
#Let's work on the case where the target is categorical and the features are numerical. 
#You can use the chi square method and select top k features.

#As you might notice here, one of the disadvantages of using select_k_best is that we 
# have to provide the value of k ourself, through an estimated guess.
# We will see how the algorithm uses the chi square score to select the top k features. 
# There is a huge imbalance in the dataset as one category is very under-represented. 
# For now, check the application on the data (as it is), and later we will talk about 
# methods to remove the imbalance.

,0,1,2,3,4,5,6,7,8,9
0,0.0,992.0,264.0,479.0,635.0,0.0,318.0,12883.0,240.0,95515.0
1,1.0,3611.0,940.0,5468.0,5218.0,4480.0,1096.0,36175.0,47.0,148535.0
2,1.0,7001.0,2040.0,497.0,546.0,0.0,292.0,11576.0,202.0,15078.0
3,0.0,640.0,160.0,1000.0,1263.0,9340.0,388.0,15130.0,109.0,172556.0
4,0.0,2520.0,627.0,576.0,594.0,5000.0,250.0,9836.0,254.0,7112.0

             score    Column
311  527716.426176  CONTROLN
140  187983.976667       IC5
83    49855.611718       HV1
84    49561.067003       HV2
0     39087.069814     TCODE
133   26891.429352       MSA
13    17167.230879    POP901
137    2921.367106       IC2
14     2811.233301    POP902
303    2756.199364  RAMNTALL

311    CONTROLN
140         IC5
83          HV1
84          HV2
0         TCODE
133         MSA
13       POP901
137         IC2
14       POP902
303    RAMNTALL
Name: Column, dtype: object

In [21]:
# End of activity 1

In [22]:
# Recursive Feature Elimination

In [23]:
from sklearn.feature_selection import RFE
from sklearn import linear_model
lm = linear_model.LinearRegression()
rfe = RFE(lm, n_features_to_select=20, verbose=False)
rfe.fit(X, y)

RFE(estimator=LinearRegression(), n_features_to_select=20, verbose=False)

In [28]:
# After we run the algorithm, it labels the top features as 1 and the rest are marked in an increasing order of importance.
df = pd.DataFrame(data = rfe.ranking_, columns=['Rank'])
df['Column_name'] = X.columns
df[df['Rank']==1]
#df['Rank'].value_counts()

     Rank Column_name
2       1      INCOME
16      1     POP90C1
17      1     POP90C2
18      1     POP90C3
30      1       ETH10
76      1         DW3
77      1         DW4
78      1         DW5
121     1        RHP4
122     1       HUPA1
123     1       HUPA2
163     1         MC1
164     1         MC2
168     1        TPE3
169     1        TPE4
170     1        TPE5
171     1        TPE6
288     1        HC15
305     1    CARDGIFT
313     1      RFA_2F

In [29]:
# Activity 2
# In the previous lessons we have discussed some of the feature selection techniques. 
# However, there is also something that is called dimensionality reduction. 
# Conduct your research to find the difference between feature selection and dimensionality reduction.

In [30]:
# Review inferential statistics - distributions

In [31]:
# Activity 3
#What are the two main types of probability distributions according to the variable type? 
#How are they different from each other? Give two examples for each one of them. Also talk about the parameter for each one of those distributions.

#What is so special about the normal distribution? Where do we see it occurring?
#List down some properties of a normal distribution.

In [ ]:
# Review 
# slides 4-22 from https://www.slideshare.net/jasondroesch/gw-e8ch08

In [33]:
#calculating the Z-statistic
from statistics import math

sample_mean = 80.94
pop_mean = 85
pop_std = 11.6
n = 25
statistic = (sample_mean - pop_mean)/(pop_std/math.sqrt(n))
print("Statistic is: ", statistic)

Statistic is:  -1.750000000000001

In [ ]:
# alpha value is used to determine the cut-off point ('critical region')
# for a two-tailed z-test, alpha = 0.05 corresponds to < -1.96 and + > 1.96

# for a t-test the values are slightly different, but still close to -2 and +2, 
# e.g., for 19 degrees of freedom (n=20) they are -2.093 and + 2.093

In [ ]:
# alternatively we could calculate the t-statistic for this test
# from statistics import math

# sample_mean = 80.94
# pop_mean = 85
# # compute standard error of the mean
# standard_error = sem(data) # note that we do not have the actual data, so this will not work here
# n = 25
# statistic = (sample_mean - pop_mean)/(standard_error/math.sqrt(n))
# print("Statistic is: ", statistic)